
div:hover {
    background-color:#CCFFFF;
}

img{
    float: right;
    display: block;
    margin-left: 2px;
    max-width: 20vw;
}

div{
    transition: background 0.3s ease;
    margin-top: 20px;
    display: flex;
}

p{
    margin-left: 20px;
    text-align: justify;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}