.img{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.map{
    align-items: center;
    overflow:hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

p{
    vertical-align: top;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
	overflow: hidden;
    margin-left: 2vw;
    margin-top: 5vw;
}

.back{
    width: 15px;
    height: 15px;
    position: fixed;
}

.back img{
    filter: invert(50%);
    width: 15px;
    height: 15px;
}